a, a:hover, a:focus {
    color: #0dcaf0;
}

a:visited {
    color: #17a2b8;
}

.navbar-light .navbar-nav .nav-link, .btn {
    color: #0dcaf0;
}

.navbar-light .navbar-nav .nav-link:hover, .btn {
    color: #17a2b8;
}

.list-group-item.active {
    background-color: #17a2b8;
    color: white;
}
