<footer id="contact">
    <div class="row justify-content-center">
        <h2> Contact</h2>
    </div>

    <div class="row row-cols-3 list-group-flush mb-5">
        <div class="col bi-envelope-fill"><a href="https://www.goodreads.com/simina09"> Mail</a></div>
        <div class="col bi-linkedin"><a href="https://www.goodreads.com/simina09"> LinkedIn</a></div>
        <div class="col bi-twitter"><a href="https://twitter.com/siminacotop"> @siminacotop</a></div>
        <div class="col bi-github"><a href="https://github.com/simina-cotop"> simina-cotop</a></div>
        <div class="col bi-link-45deg"><a href="https://www.goodreads.com/simina09"> Goodreads</a></div>
        <div class="col bi-link-45deg"><a href="https://letterboxd.com/Simina09/"> Letterboxd</a></div>
    </div>
</footer>
