<footer id="contact">
    <div class="row text-center">
        <h2 class="text-info">Contact</h2>
    </div>

    <div class="row row-cols-3 list-group-flush mb-5 text-info">
        <div class="col bi-envelope-fill"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="mailto:mail@simina-cotop.de"> Mail</a></div>
        <div class="col bi-linkedin"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/simina-cotop"> LinkedIn</a></div>
        <div class="col bi-twitter"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="https://twitter.com/siminacotop"> @siminacotop</a></div>
        <div class="col bi-github"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="https://github.com/simina-cotop"> simina-cotop</a></div>
        <div class="col bi-link-45deg"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="https://app.thestorygraph.com/profile/simina09"> The StoryGraph </a></div>
        <div class="col bi-link-45deg"><a class="link-underline link-underline-opacity-0" target="_blank" rel="noopener noreferrer" href="https://letterboxd.com/Simina09/"> Letterboxd</a></div>
    </div>
    <div class="row justify-content-center">
		© Simina Cotop 2025 | Last Updated: <!-- LASTMODIFIED -->
	</div>
</footer>
